#div1 {
    height: 25vh;
    width: 100%;
    border: 1px solid black;
    background-color: #1f2937;
    color: white;
    flex-direction: column;
}

.div1content {
   /* border: 1px solid black;*/
    display: flex;
    justify-content: center;
}

.topcontent {
   /* border: 1px solid black;*/
    width: 40%;
}

.topcontent h1 {
    margin-bottom: -0.3em;
}

.topcontent p {
    margin-bottom: 1%;
}

.topcontent button {
    border-radius: 6px;
    color: white;
    background-color: hsl(214, 100%, 50%);
    font-weight: bold;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    opacity: 0.9;

}

.topimg {
    /*border: 1px solid black;*/
    background-color: hsla(217, 10%, 66%, 0.384);
    width: 40%;
}

.topimg p {
    text-align: center;
    padding: 50px 0;
}

#logo {
    align-self: start;
    border: 2px solid black;
}

#navbar {
    align-self: end;
    border: 2px solid black;
}

#div2 {
    height: 22vh;
    width: 100%;
    border:1px solid black;

}

#div3 {
    height: 22vh;
    width: 100%;
    border: 1px solid black;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
    border: 1px solid black;
    margin-left: 250px;
    margin-top: 10px;
    margin-right: 250px;

}

#div4 {
    height: 22vh;
    width: 100%;
    border: 1px solid black;
}

#footer{
    height: 5vh;
    width: 100%;
    border: 1px solid black;
    background-color: #1f2937;
    color: white;
}

.topnav {
    overflow: hidden;
}

.topnav .logo {
    float: left;
    text-align: center;
    padding: 14px 16px;
    margin-left: 15px;
    text-decoration: none;
    font-size: 24px;
    color: #F9FAF8;
}

.topnav a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    margin-right: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}