#div1 {
    height: 22vh;
    width: 100%;
    border: 1px solid black;
    background-color: #1f2937;
    display: inline-flex;
    color: white;
    flex-direction: column;
}

#logo {
    align-self: start;
    border: 2px solid black;
}

#navbar {
    align-self: end;
    border: 2px solid black;
}

#div2 {
    height: 22vh;
    width: 100%;
    border:1px solid black;

}

#div3 {
    height: 22vh;
    width: 100%;
    border: 1px solid black;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
    border: 1px solid black;
    margin-left: 250px;
    margin-top: 10px;
    margin-right: 250px;

}

#div4 {
    height: 22vh;
    width: 100%;
    border: 1px solid black;
}

#footer{
    height: 5vh;
    width: 100%;
    border: 1px solid black;
    background-color: #1f2937;
    color: white;
}

.topnav {
    overflow: hidden;
}

.topnav .logo {
    float: left;
    text-align: center;
    padding: 14px 16px;
    margin-left: 15px;
    text-decoration: none;
    font-size: 24px;
    color: #F9FAF8;
}

.topnav a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    margin-right: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}